<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="comment.wall.mapper.CardMessageMapper">


    <select id="getByCardId" resultType="comment.wall.vo.CardMessageVO">
        select card_message.id,
               user.id as user_id,
               user.name as username,
               card_message.color,
               card_message.content,
               label.name as label,
               card_message.like_count as like_count,
               card_message.comment_count as comment_count,
               card_message.create_time as date
        from card_message
                 left join label on card_message.label_id = label.id
                 left join user on card_message.user_id = user.id
        where card_message.id = #{cardId};
    </select>
    <select id="pageQueryCard" resultType="comment.wall.vo.CardMessageVO">
        select cm.id,
               user.id   as userId,
               user.name  as username,
               color,
               content,
               label.name as label,
               like_count,
               comment_count,
               cm.create_time as date
        from card_message as cm
                 left join label on cm.label_id = label.id
                 left join user on cm.user_id = user.id
        <where>
            <if test="labelId != null">
                label.id = #{labelId}
            </if>
        and cm.deleted = 0
        </where>
        order by cm.user_id = #{userId} desc, cm.id
        limit #{page}, #{pageSize}
    </select>
</mapper>