<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="comment.wall.mapper.CommentMapper">
    <select id="pageQueryComment" resultType="comment.wall.vo.CommentVO">
        select
            comment.id,
            user.name as user_name,
            user.avatar_url as avatar,
            comment.content,
            comment.create_time
        from comment
                 left join user on comment.user_id = user.id
        where comment.deleted = 0 and comment.card_id = #{cardId} and comment.category = #{category}
        limit #{page}, #{pageSize}
    </select>
    <select id="getCommentById" resultType="comment.wall.vo.CommentVO">
        select
            comment.id,
            user.name as user_name,
            user.avatar_url as avatar,
            comment.content,
            comment.create_time
        from comment
                 left join user on comment.user_id = user.id
        where comment.deleted = 0 and comment.id = #{id} and comment.category = #{category}
    </select>

</mapper>