@font-face {
  font-family: "iconfont"; /* Project id 4852171 */
  src: url('iconfont.woff2?t=1742195051468') format('woff2'),
       url('iconfont.woff?t=1742195051468') format('woff'),
       url('iconfont.ttf?t=1742195051468') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji1:before {
  content: "\e8ac";
}

.icon-chuangzuo:before {
  content: "\e8ad";
}

.icon-dianzan:before {
  content: "\e8ae";
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-aixin1:before {
  content: "\e8c3";
}

.icon-dianzan1:before {
  content: "\e8c4";
}

.icon-pinglun1:before {
  content: "\e8c5";
}

.icon-yanzhengma:before {
  content: "\e60e";
}

.icon-yonghu:before {
  content: "\e60f";
}

.icon-sousuowenjian:before {
  content: "\e611";
}

.icon-xinjian:before {
  content: "\e612";
}

.icon-jiantoudown:before {
  content: "\e613";
}

.icon-jiantouleft:before {
  content: "\e614";
}

.icon-jiantouup:before {
  content: "\e615";
}

.icon-jiantouright:before {
  content: "\e616";
}

.icon-dajiantou:before {
  content: "\e617";
}

.icon-tishi:before {
  content: "\e618";
}

.icon-tianjia:before {
  content: "\e619";
}

.icon-yichang:before {
  content: "\e61a";
}

.icon-jianqu:before {
  content: "\e61b";
}

.icon-bangzhu:before {
  content: "\e61c";
}

.icon-fenxiang:before {
  content: "\e61d";
}

.icon-shanchu:before {
  content: "\e61e";
}

.icon-shaixuan:before {
  content: "\e61f";
}

.icon-qushi:before {
  content: "\e620";
}

.icon-fuzhi:before {
  content: "\e621";
}

.icon-bianji:before {
  content: "\e622";
}

.icon-xiaoxi:before {
  content: "\e623";
}

.icon-yincang:before {
  content: "\e624";
}

.icon-chakan:before {
  content: "\e625";
}

.icon-tuichu:before {
  content: "\e626";
}

.icon-mima:before {
  content: "\e627";
}

.icon-tuichudenglu:before {
  content: "\e628";
}

.icon-diannao:before {
  content: "\e629";
}

.icon-guanbi:before {
  content: "\e62a";
}

.icon-queren:before {
  content: "\e62b";
}

.icon-mulu:before {
  content: "\e62c";
}

.icon-sousuo:before {
  content: "\e62d";
}

.icon-shuaxin:before {
  content: "\e62e";
}

.icon-biaoqian:before {
  content: "\e62f";
}

.icon-baocun:before {
  content: "\e630";
}

.icon-qiehuan:before {
  content: "\e631";
}

.icon-biaoji:before {
  content: "\e632";
}

